
body{
    margin: 2% 5%;
}

.wrap{
    background-color:whitesmoke;
    margin: 5%;
    padding: 30px;
}

.top ul{
    display: flex;
    gap: 40px;
list-style-type: none;
}
.top a{
text-decoration: none;
color: black;
}

.blutxt{
    color: blue;
}

.right{
    position: relative;
    left: 60%;
}

.down{
    display: flex;
    gap: 20px;
}

.col{
    display: flex;
}

.txt{
    width: 50%;
}
.img{
    width: 40%;
    
}
img{
    width: 300px;
    padding-top: 200px;
    position: relative;
    left: 25%;
}